@charset "UTF-8";
body{
  background-color: #ffd5ec;
}

#first{
  width: 960px;
  margin: 40px auto;
  padding: 40px 80px;
  border: red 1px solid;
  background-color: white;
}

h1{
  font-size: 2em;
  color: #ff82be;
  text-align: center;
}

.tare_pic:after{
  content: "";
  clear: both;
  display: block;
}

.photo{
  float: left;
  margin-right: 30px;
}

.kyuri{
  float: right;
  margin-right: 30px;
}

.explanation{
  float: left;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}



