@charset "UTF-8";
body{
  background-color: #ffd5ec;
}

#first{
  width: 960px;
  margin: 40px auto;
  padding: 40px 80px;
  border: red 1px solid;
  background-color: white;
}

h1{
  font-size: 2em;
  color: #ff82be;
  text-align: center;
}

.tare_pic:after{
  content: "";
  clear: both;
  display: block;
}

.photo{
  float: left;
  margin-right: 30px;
}

.kyuri{
  float: left;
  margin-right: 30px;
}

.explanation{
  float: left;
  whidth: 460px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.btn:hover{
  opacity: 0.7;
}

.btn:active{
  color: white;
}

.btn-submit{
  background-color: #bad3ff;
}

.btn-reset{
  background-color: lightcoral;
}




